h1{
    text-align: center;
    color: rgb(7, 41, 41);
    
}
body{
    margin: 25px;
    padding: 0;
    background-color: powderblue;
}

.cheese_div{

    display: flex;
    width: 300px;
    text-align: center;
    padding: auto;
    margin-bottom: 5%;

      
}
.label{
    display: inline;
    font-size: 180%;
    color:black;
    padding: auto;

   
}
.vegan_div{

    display: flex;
    width: 300px;
    text-align: right;
    padding: auto;
      
}
.buy{
    margin-top: 5%;
    display: flex;
    color: crimson;
   

}
.receipt{
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 5px;

}

